body {
	max-width: 1080px; 
	margin: 0 auto;
	background-color: #1F2527;
}

h1 {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 40px;
  color: #EB6A3C;
}

h2 {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
  color: #5DADEC; 
}

li, p {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 20px;
  color: #EB6A3C; 
}

li {
  margin-top: 25px;
  margin-bottom: 25px;
}

.ul_header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.li_header {
  float: center;
  background-color: green;
}

.li_header a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li_header a:hover {
  background-color: #5DADEC;
}

.active {
  background-color: #EB6A3C;
}

/* unvisited link */
a:link {
  color: yellow;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.Pooplord_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #4A3D53;  
}

.Pooplord_container_text {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 50px;
  overflow-wrap:break-word;
  color: #D6C5B2; 
}

.Scott-Cornman_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #223320;  
}

.Scott-Cornman_container_text {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 50px;
  overflow-wrap:break-word;
  color: #D8CE5E; 
}
  
.Rupus_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #3F3A2B;  
}   

.Rupus_container_text {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 50px; 
  overflow-wrap:break-word;
  color: #D87C96;  
}

.Flarglin_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #A4543A;  
}   

.Flarglin_container_text {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 50px;
  overflow-wrap:break-word;
  color: #FFE300;   
}

.Pete_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #10183D;  
}

.Pete_container_text {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 50px;
  overflow-wrap:break-word;
  color: #CCD9F2; 
}

.Archie_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #401A1A;  
}

.Archie_container_text {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 50px;
  overflow-wrap:break-word;
  color: #FFAA7F; 
}
  
.Rob_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #34005F;  
}   

.Rob_container_text {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 50px;
  overflow-wrap:break-word;
  color: #FFB4FC;   
}

.Richie_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #1A1F40;  
}   

.Richie_container_text {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 50px;
  overflow-wrap:break-word;
  color: #FFDC95;   
}

.Tom_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #2B1A05;  
}   

.Tom_container_text {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 50px;
  overflow-wrap:break-word;
  color: #FFD658;   
}

.question_section {
margin-bottom: 100px;
}	

.question_username {
  display: inline-block;
  margin-right: 10px;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 20px;
  color: red;
}

.question_date {
  display: inline-block;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
}

.question_asked {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 25px;
  color: #FFDC95; 
}

.question_answer {
  margin: 10px auto;
  text-indent: 25px;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 25px;
  color: #5DADEC; 
}
