body {
  background-color: #1F2527;
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

h1 {
  color: #EB6A3C;
  font-family: 'Patrick Hand', cursive;
  font-size:40px;
}

h2 {
  color: #5DADEC;
  font-family: 'Patrick Hand', cursive;
  font-size:30px;
}

div {
  font-family: 'Patrick Hand', cursive;
  color: #EB6A3C;
  font-size:25px;
}

li{
    margin-top: 20px;
}
