body {
  background-color: #1F2527;
  font-family: Arial, Tahoma, sans-serif;
}

h1 {
  color: #EB6A3C;
  font-size:40px;
}

h2 {
  color: #5DADEC;
  font-size:30px;
}

div {
  color: #EB6A3C;
  font-size:25px;
}

li{
    margin-top: 20px;
}
