body {
	max-width: 1080px; 
	margin: 0 auto !important; 
	float: none !important; 
	background-color: #1F2527;
}

h1 {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 40px;
  color: #EB6A3C;
}

h2 {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
  color: #5DADEC; 
}

li, p {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 20px;
  color: #EB6A3C; 
}

li {
  margin-top: 25px;
  margin-bottom: 25px;
}

.ul_header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.li_header {
  float: center;
}

.li_header a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li_header a:hover {
  background-color: #5DADEC;
}

.active {
  background-color: #EB6A3C;
}

.Pooplord_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #4A3D53;  
}

.Pooplord_container_text {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 50px;
  overflow-wrap: anywhere;
  color: #D6C5B2; 
}

.Scott-Cornman_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #223320;  
}

.Scott-Cornman_container_text {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 50px;
  overflow-wrap: anywhere;
  color: #D8CE5E; 
}
  
.Rupus_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #3F3A2B;  
}   

.Rupus_container_text {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 50px; 
  overflow-wrap: anywhere;
  color: #D87C96;  
}

.Flarglin_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #A4543A;  
}   

.Flarglin_container_text {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 50px;
  overflow-wrap: anywhere;
  color: #FFE300;   
}

.Pete_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #10183D;  
}

.Pete_container_text {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 50px;
  overflow-wrap: anywhere;
  color: #CCD9F2; 
}

.Archie_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #401A1A;  
}

.Archie_container_text {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 50px;
  overflow-wrap: anywhere;
  color: #FFAA7F; 
}
  
.Rob_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #34005F;  
}   

.Rob_container_text {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 50px;
  overflow-wrap: anywhere;
  color: #FFB4FC;   
}

.Richie_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #1A1F40;  
}   

.Richie_container_text {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 50px;
  overflow-wrap: anywhere;
  color: #FFDC95;   
}

.username {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 20px;
  color: red;
}

.question_asked {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 25px;
  color: #FFDC95; 
}

.question_answer {
  text-indent: 25px;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 25px;
  color: #5DADEC; 
}