body {
	max-width: 800px; 
	margin: 0 auto;
	margin-bottom: 100px;
	background-color: #1F2527;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 1em;
	color: #EB6A3C;
	word-break: break-word;
}

h1 {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 1.5em;
  color: #EB6A3C;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  color: #5DADEC; 
}

li {
  margin-top: 1.3em;
}

.ul_header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.li_header {
  float: left;
}

.li_header a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-size: 0.8em;
}

.li_header a:hover {
  background-color: #5DADEC;
}

.li_header_bottom {
  float: right;
}

.li_header_bottom a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-size: 0.8em;
}

.li_header_bottom a:hover {
  background-color: #5DADEC;
}

.active {
  background-color: #EB6A3C;
}

/* unvisited link */
a:link {
  color: yellow;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center_text {
  text-align: center;
}

.Pooplord_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #4A3D53; 
}

.Pooplord_container_text {
  font-size: 1.3em; 
  color: #D6C5B2;
}

.Scott-Cornman_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white; 
  background-color: #223320;  
}

.Scott-Cornman_container_text {
  font-size: 1.3em;
  color: #D8CE5E; 
}
  
.Rupus_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #3F3A2B;  
}   

.Rupus_container_text {
  font-size: 1.3em; 
  color: #D87C96;  
}

.Flarglin_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #A4543A; 
}   

.Flarglin_container_text {
  font-size: 1.3em;
  color: #FFE300;   
}

.Pete_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #10183D;
}

.Pete_container_text {
  font-size: 1.3em;
  color: #CCD9F2; 
}

.Archie_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #401A1A; 
}

.Archie_container_text {
  font-size: 1.3em;
  color: #FFAA7F; 
}
  
.Rob_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #34005F;  
}   

.Rob_container_text {
  font-size: 1.3em;
  color: #FFB4FC;   
}

.Richie_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #1A1F40;
}   

.Richie_container_text {
  font-size: 1.3em;
  color: #FFDC95;   
}

.Tom_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #2B1A05;   
}   

.Tom_container_text {
  font-size: 1.3em;
  color: #FFD658;   
}

.question_section {
margin-bottom: 20px;
}	

.question_username {
  display: inline-block;
  margin-right: 10px;
  color: red;
}

.question_date {
  display: inline-block;
  color: white;
}

.question_asked {
  margin-top: 10px;
  color: #FFDC95; 
}

.question_answer {
  margin-top: 10px;
  text-indent: 25px;
  color: #5DADEC; 
}

.real_question {
  margin-left: 10px;
  font-weight: bold;
  color: #FFDC95;
  background-color: red;  
}

/* https://jsfiddle.net/y45nY/1/ */
.bt {
    width: 80px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    background: black;
    border-radius: 3px;
    box-shadow: 0 0 2px #333;
    cursor: pointer;
    text-align: center;
}


.bt > span { display: none; }

fieldset {
  border: 0;
}

.ask_tom_contact_form {
  margin-bottom: 50px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   text-align: center;
   font-size: 0.7em;
}

.blog_table {
  border-collapse: separate;
  border-spacing: 20px 0;
}

.blog_table td {
  max-width: 300px;
  padding: 10px 0;
}